<div class = "raceentry" onclick="$('#raceinfo_<%= race.id %>').toggle();">
	<%= race.name %>  <%= race.daymonth %><br>
</div>

<div id ="raceinfo_<%= race.id %>" style= "display:none">
	<%= race.date %>
</div>
