<div class="user-profile">
  <h1><%= @user.name %></h1>
  <h3>Score: <%= @score %></h3>
  <h3>Budget: <%= @budget %></h3>
  <h3>Current Team</h3>
  <div>
    <%= image_tag @user.player_teams.last.primary_driver.image_url %>
  </div>
  <div class="row">
    <div class="small-10 columns">
      
    <%= form_for(@new_team) do |f| %>
      <%= f.label "Primary Driver" %>
      <%= f.collection_select(:driver1_id, Driver.all, :id, :name) %>

      <%= f.label "Secondary Driver" %>
      <%= f.collection_select(:driver2_id, Driver.all, :id, :name) %>

      <%= f.label "Constructor" %>
      <%= f.collection_select(:chassis_manufacturer_id, ChassisManufacturer.all, :id, :name) %>

      <%= f.label "Engine" %>
      <%= f.collection_select(:engine_id, Engine.all, :id, :name) %>

      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
