<div class="user-profile">
<div class="row">
  <div class="medium-3 large-3 columns add-height"></div>  
  <div class="medium-6 large-6 columns">
    <ul class="pricing-table">
      <li class="title"><%= @user.name %></li>
      <li class="price">Score: <%= @score %></li>
      <li class="price">Budget: <%= number_to_currency(@budget, precision: 0) %></li>
    </ul>
  </div>  
  <div class="medium-3 large-3 columns add-height"></div>  
</div>
  <h3><%= @user.name.capitalize %>'s Current Team</h3>

    <%= form_for(@new_team) do |f| %>
  <ul class="small-block-grid-2 large-block-grid-2">
      <li><%= image_tag @user.player_teams.last.primary_driver.image_url %>
      <%= f.label "Primary Driver" %>
      <%= f.collection_select(:driver1_id, Driver.all, :id, :name) %>
      </li>
      <li><%= image_tag @user.player_teams.last.secondary_driver.image_url %>
      <%= f.label "Secondary Driver" %>
      <%= f.collection_select(:driver2_id, Driver.all, :id, :name) %>

      </li>
      <li><%= image_tag @user.player_teams.last.chassis_manufacturer.image_url %>
      <%= f.label "Constructor" %>
      <%= f.collection_select(:chassis_manufacturer_id, ChassisManufacturer.all, :id, :name) %>
      </li>
      <li><%= image_tag @user.player_teams.last.engine.image_url %>
      <%= f.label "Engine" %>
      <%= f.collection_select(:engine_id, Engine.all, :id, :name) %>
      </li>

  </ul>
      <%= f.submit 'Update Team', :class => "button round" %>
    <% end %>
</div>
