<!DOCTYPE html>
<html>
  <head>
    <title>Grand Prix Fantasy League</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="layout">
      <nav class="layout-menu">
        <% if current_user %>
          <%= link_to "Show Profile", user_path(current_user.id) %>
          <%= link_to "Logout", :logout, method: :post %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </nav>
      <div class="layout-notice">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
      <div class="layout-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
