<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy F1 Manager</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "F1 Manager", root_url %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone, keep the empty span-->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
              <li><%= link_to 'Game Rules', '#' %></li>
              <% if current_user %>
                <li><%= link_to "Manage Team", user_path(current_user.id) %></li>
              <% end %>
          <li class="has-dropdown">
            <a href="#">User</a>
            <ul class="dropdown">
              <% if current_user %>
                <li><%= link_to "Logout", :logout, method: :post %></li>
              <% else %>
                <li><%= link_to "Login", :login %></li>
                <li><%= link_to "Register", new_user_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        <li><%= link_to 'Standings', users_path %></li>
        <li><%= link_to 'Transfer Market', transfer_markets_path %></li>
        <li><%= link_to 'Race Calendar', races_path %></li>
        </ul>
      </section>
    </nav>

    <div class="notice">
    <% if flash[:notice] %>
      <div class="notice alert-box info radius"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notice alert-box info radius"><%= flash[:alert] %></div>
    <% end %>
      
    </div>
    
    <div class="layout">
      <div class="layout-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
